#netlify-integeration{
    background-color: teal;
    text-decoration: none;
    border-radius: 8px;
    padding: 0.5em;
    list-style-type: none;
}

.netlify-identity-item{
    color: white;
    display: inline-block;
}

.netlify-identity-item > a{
    color: white;
}

.netlify-identity-item > a:visited{
    color: white;
}

.netlify-identity-menu{
    display: inline-block;
}